@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari, Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
  }
  /* IE and Edge */
  .scrollbar-hide {
    -ms-overflow-style: none;
  }
}
